.container{
    display: flex;
    background: #ff523b;
    margin: 10px;
    flex-wrap: wrap;
}
.container h1{
    color: #fff;
    text-align: center;
    background: #014a10;
    margin-left: 10px;
    padding: 10px;
    width:200px;
    /* flex-wrap: wrap; */
}
.container1{
    display: flex;
    background: #ff523b;
    margin: 10px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.container1 p{
    color: green;
    background: #fff;
    padding: 10px;
    margin-left: 10px;
    width:100px;
    /* flex-wrap: wrap-reverse; */
}